
/*-----------------------------------------------------------------------------------*/
.controller.ds4{
    background: url(base.png);
    width: 783px;
    height: 657px;
    margin-left: 0;
    margin-top: 0;
} 
/*-----------------------------------------------------------------------------------*/
.ds4 .sticks {
	width: 367px;
    height: 95px;
    left: 222px;
    top: 294px;
}
.ds4 .stick {
    background: url(sticknorm.png);
    width: 92px;
    height: 89px;
} 
.ds4 .stick.pressed.left, .ds4 .stick.pressed.right {
    background: url(stickpressed.png);
} 
.ds4 .stick.right {
    top: 52px;
    left: 246px;
}
/*-----------------------------------------------------------------------------------*/

.ds4 .button {
    width: 67px;
    height: 68px;
} 
.ds4 .a {
   background: url(X.png);
   left: 34px;
   top: 148px;
   background: none;
} 
.ds4 .b {
   background: url(circle.png);
   left: 91px;
   top: 90px;
   background: none;
} 
.ds4 .x {
   background: url(square.png);
   left: -24px;
   top: 90px;
   background: none;
} 
.ds4 .y {
   background: url(triangle.png);
   left: 34px;
   top: 32px;
   background: none;
} 

.ds4 .a.pressed {
   background: url(X.png);
} 
.ds4 .b.pressed {
   background: url(circle.png);
} 
.ds4 .x.pressed {
   background: url(square.png);
} 
.ds4 .y.pressed {
   background: url(triangle.png);
} 
/*-----------------------------------------------------------------------------------*/
.ds4 .arrows {
    left: 195px;
	top: 140px;
    width: 416px;
    height: 57px;
} 
/*-----------------------------------------------------------------------------------*/
.ds4 .back, .ds4 .start {
    width: 26px;
    height: 46px;
} .ds4 .start {
    margin-right: 25px;
    float: right;
    margin-top: 30px;
    background-position: 0px,0px;
} 

.ds4 .back {
	margin-left: 1px;
	margin-top: 30px;
	background-position: 0px, 0px;
	}
 .ds4 .start {background-image: url(start.png);} 
 .ds4 .back {background-image: url(select.png);} 
/*-----------------------------------------------------------------------------------*/
.ds4 .bumper{width: 105px; height: 39px;}
.ds4 .bumper.right {background: url(r1.png);margin-top: 39px;margin-right: 11px;transform: none;}
.ds4 .bumper.left {background: url(L1.png);}
/*-----------------------------------------------------------------------------------*/
 .ds4 .trigger {width: 89px;height: 124px;}
.ds4 .trigger.right {background: url(R2.png);transform: rotateY(0);} 
.ds4 .trigger.left {background: url(L2.png);transform: rotateY(0);} 
/*-----------------------------------------------------------------------------------
.ds4 .touchpad.pressed {
    background: url(https://philipbry.github.io/Gnd106J.png);
} 
-----------------------------------------------------------------------------------*/
  .ds4 .face.up, .ds4 .face.down {
    width: 61px;
    height: 72px;
} .ds4 .face.left, .ds4 .face.right {
    width: 72px;
    height: 61px;
} .ds4 .face.up {
    left: 26px;
    top: 28px;
    background: none;
} .ds4 .face.down {
    left: 26px;
    bottom: -50px;
    background: none;
} .ds4 .face.left {
	top: 72px;
	left: -17px;
	background: none;
} .ds4 .face.right {
    top: 72px;
    right: -5px;
    background: none;
} .ds4 .face.up.pressed {
    background: url(dup.png);
} .ds4 .face.down.pressed {
    background: url(ddown.png);
} .ds4 .face.left.pressed {
	background: url(dleft.png);
} .ds4 .face.right.pressed {
    background: url(dright.png);
} 
