
/*---------------------------Controller base-----------------------------------------*/
.controller.ds4{background: url(base.png);width: 783px;height: 657px;margin-left: 0; margin-top: 0;} 
/*-------------------------------Sticks----------------------------------------------*/
.ds4 .sticks {width: 367px;height: 95px;left: 222px;top: 294px;}
.ds4 .stick {background: url(stick1.png);width: 92px;height: 89px;} 
.ds4 .stick.pressed.left, .ds4 .stick.pressed.right {background: url(stick2.png);} 
.ds4 .stick.right {top: 52px; left: 246px;}
.ds4 .stick.left {top: 52px;left: 0px;}
/*---------------------a,b,x,y / X,circle,square,triangle----------------------=------*/
.ds4 .abxy {top: 166px;left: 573px;}
.ds4 .button {width: 67px;height: 68px;background-repeat:no-repeat!important;} 
.ds4 .a {background: url(x.png);left: 34px;top: 148px;}   /* A,X */
.ds4 .b {background: url(circle.png);left: 91px;top: 90px;} /* B,Circle */
.ds4 .x {background: url(square.png);left: -24px;top: 90px;} /* X,Square */
.ds4 .y {background: url(tiangle.png);left: 34px;top: 32px;}  /* Y,Triangle */

.ds4 .a.pressed {background: url(x2.png);} /* A,X */
.ds4 .b.pressed {background: url(circle2.png);} /* B,Circle */
.ds4 .x.pressed {background: url(square2.png);} /* X,Square */
.ds4 .y.pressed {background: url(triangle2.png);} /* Y,Triangle */

/*--------------------------Start,Select------------------------------------------*/
.ds4 .back, .ds4 .start {width: 26px;height: 38px;background-position: 0px,0px;opacity: 1;}
.ds4 .start {background-image: url(start.png);margin-right: 25px;float: right;margin-top: 38px;} 
.ds4 .back {background-image: url(select.png);margin-left: 1px;margin-top: 38px;}
 .ds4 .start.pressed {background-image: url(start2.png);} 
 .ds4 .back.pressed {background-image: url(select2.png);} 
/*--------------------------Bumpers------------------------------------------*/
.ds4 .bumper{width: 105px;height: 39px;opacity: 1;}
.ds4 .bumper.left {background: url(lbumper.png);margin-top: 39px;margin-left: -13px;transform: none;}
.ds4 .bumper.right {background: url(rbumper.png);margin-top: 39px;margin-right: 11px;transform: none;}
.ds4 .bumper.left.pressed {background: url(lbumper2.png);}
.ds4 .bumper.right.pressed {background: url(rbumper2.png);}
/*-----------------------------Triggers------------------------------------------*/
.ds4 .triggers {width: 762px;height: 90px;position: absolute;left: 10px;top: 1px;}
.ds4 .trigger.left,.ds4 .trigger.right{background:none;}
.ds4 .trigger-button.left,.ds4 .trigger-button.right{width: 89px;height: 124px;opacity: 1;background-repeat:no-repeat;display: inline-block;}
.ds4 .trigger-button.right {float:right;} 
.ds4 .trigger-button.left {background: url(ltrigger.png);} 
.ds4 .trigger-button.right {background: url(rtrigger.png);} 
.ds4 .trigger-button.left.pressed {background: url(ltrigger2.png);} 
.ds4 .trigger-button.right.pressed {background: url(rtrigger2.png);} 
/*-----------------------------------------------------------------------------------
.ds4 .touchpad.pressed {
    background: url(https://philipbry.github.io/Gnd106J.png);
} 
-----------------------------------------------------------------------------------*/
.ds4 .arrows {
    left: 195px;
	top: 140px;
    width: 416px;
    height: 57px;
} 
  .ds4 .face.up, .ds4 .face.down {
    width: 61px;
    height: 72px;
} .ds4 .face.left, .ds4 .face.right {
    width: 72px;
    height: 61px;
} .ds4 .face.up {
    background: url(up.png);
    left: 26px;
    top: 28px;
} .ds4 .face.down {
    background: url(down.png);
    left: 26px;
    bottom: -50px;
} .ds4 .face.left {
	background: url(left.png);
	top: 72px;
	left: -17px;
} .ds4 .face.right {
    background: url(right.png);
    top: 72px;
    right: -5px;
} .ds4 .face.up.pressed {
    background: url(up2.png);
} .ds4 .face.down.pressed {
    background: url(down2.png);
} .ds4 .face.left.pressed {
	background: url(left2.png);
} .ds4 .face.right.pressed {
    background: url(right2.png);
} 
